<!--- Botones dinamicos del menu princiupal -->
{% block content %}
<!-- Estado de los botones dinamicos que dependen del inicio de sesion -->
{% if session['email'] and session['email'] != ''%}
<span class="emailMenu">{{session['email']}}</span>
<input type="submit" class="miPanelMenu" value="Mi panel" onclick="window.location='/update_usuario';">
<a class="cerrarSesionMenu" href="/cerrarSesion">Cerrar Session</a>
<a class="EliminarCuenta" href="/EliminarCuenta">Eliminar</a>
{% else %}
<div class="botones">
<input type="submit" name="acceso" value="Ingresar" onclick="window.location='ingresar';">
<!--<input type="submit" name="registro" value="Registrarse" onclick="window.location='signup_seleccion';">-->
<div class="dropdown">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Registrarse
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/signup_usuario">Usuario</a>
      <a class="dropdown-item" href="/signup_empresa">Empresa</a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


