<!--- Botones dinamicos del menu princiupal -->
{% block content %}
<!-- Estado de los botones dinamicos que dependen del inicio de sesion -->
{% if session['email'] and session['email'] != ''%}

<div class="botones">
    <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle cuenta" data-toggle="dropdown">
          Cuenta
        </button>
        <div class="dropdown-menu">
         <!--ACA despues controlamos si es usuario y que opciones le ponemos segun eso-->
         <a class="dropdown-item" href="/update_usuario">Mi perfil</a>
         <a class="dropdown-item" href="/EliminarCuenta">Darse de baja</a>
         <a class="dropdown-item" href="/cerrarSesion">Salir</a>
        </div>
      </div>
     
    </div>

</div>
{% else %}
<div class="botones">
<input type="submit" class="btn btn-dark ingresar" name="acceso" value="Ingresar" onclick="window.location='ingresar';">
<!--<input type="submit" name="registro" value="Registrarse" onclick="window.location='signup_seleccion';">-->
<div class="dropdown">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Registrarse
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/signup_usuario">Usuario</a>
      <a class="dropdown-item" href="/signup_empresa">Empresa</a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


