<div id="info">
        <h3 class="titulo">Un programa que premia tu conciencia</h3>
        <!-- Sección con iconos -->
        <div class="seccionIconos">
            <div class="icono">
                <img src="static/imagenes/hojita.png">
                <h4>EcoBits</h4>
                <p>Ganá Ecobits</br>por devolver botellas</br>descartables</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/money.png">
                <h4>Beneficios</h4>
                <p>Usá tus Ecobits</br>para canjearlos por</br>productos y descuentos</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/recicla.png">
                <h4>Reciclá</h4>
                <p>Sumate a la</br>campaña para una</br>ciudad más limpia</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/regalo.png">
                <h4>Ganá</h4>
                <p>Premios y descuentos</br>exclusivos cuanto</br>más los usás</p>
            </div>
        </div>
    </div>