<!-- menu principal -->
<div class="template1">
            {% include 'include/botones.html' %}
</div>

<input type = "checkbox" id = "btn-menu">
    <label for="btn-menu"><img src="static/imagenes/iconmenu.png"></label>
<div class="contenedor">
    <img class="eco" src="static/imagenes/ecoblanco2.png">
</div>


    <nav class="menu">
    <ul>
        <li class="item"><a href = "/">Inicio</a></li>
        <li class="item"><a href = "ofertas">Ofertas</a></li>
        <li class="item"><a href = "centros">Centros EcoBits</a></li>
        <li class="item"><a href = "EcoBits">Sobre EcoBits</a></li>
        <li class="item"><a href = "contacto">Contacto</a></li>
    </ul>
    </nav>
    
    



