/*
- Color de background al estar posicionado en la página 
- Distribución de los elementos en la página con el sistema de grilla
*/

/* Color */
.item:nth-child(5){
	background:green !important;
}

/* Grilla */
.body{
	display: grid;
	grid-template-areas:
	"header header"
	"section article"
	"sociales sociales"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body section{
	grid-area: section;
}
.body article{
	grid-area: article;
}

.body .sociales{
	grid-area: sociales;
}
.body footer{
	grid-area: footer;
}

section, article{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.content-form {
    background:linear-gradient(rgb(154, 237, 158),rgb(87, 206, 51));
    color: #fff;
    margin: 30px auto;
    overflow: center;
    padding: 0px 5px;
    width: 50%;
    border-radius: 10px;
}
.sub-title {
    text-align: center;
    color: white;
    margin: 10px auto;
}
.sub-title:after {
    content: "";
    height: 2px;
    background:white;
    display: block;
    margin: auto;
}
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(87, 206, 51, 0.36);
    margin-bottom: 5px;
} 
.sub-form {
    width: 100%;
    background: green;
    text-align: center;
    padding: 5px 5px;
    color: white;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}
.width-4 {
    width: 33.3%;
}
.width-6 {
    width: 50%;
}
.width-12{
	width: 100%;
}
#btn-enviar {
    background: green;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid darkgreen;
    border-radius: 5px;
    width: 150px;
}
.btn:hover {
    background: green;
    cursor: pointer;
}


@media (max-width: 799px){

.body{
	display: grid;
	grid-template-areas:
	"header"
	"section"
	"article"
	"sociales"
	"footer";
}
.body header{
    grid-area: header;
}
.body section{
    grid-area: section;
}
.body article{
    grid-area: article;
}

.body .sociales{
    grid-area: sociales;
}
.body footer{
    grid-area: footer;
}

.content-form {
    width: 95%; 
    border-radius: 0px;
}

.sub-title{
	font-size: 18px;
}
.sub-form{
	font-size: 15px;
}
 
}

.headerContacto{
	height: 60px;
	margin-bottom: 20px;
}