/*
- Color de background al estar posicionado en la página 
- Distribución de los elementos en la página con el sistema de grilla
*/

/* Color */
.item:nth-child(4){
	background:green !important;
}



@media(max-width: 799px){
	.container h1{
		font-size: 24px;
	}
	.container h2,.container p{
		font-size: 18px;
	}
}

.headerEcoBit{
	height: 60px;
	margin-bottom: 20px;
}