/*
- Estilos del header en el que se encuentra el icono de EcoBits, el menú principal y los botones de acceso, 
parte de redes sociales abajo, ofertas destacadas
*/
*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;


}
.body{
    overflow-x:hidden;
}

header{
    width: 100%;
    background: linear-gradient(rgb(154, 237, 158),rgb(87, 206, 51));
    border-top: 3px solid rgb(87, 206, 51, 0.7);
    
    
}
#btn-menu{
    display:none;
} 

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
   
   
    
}
header label:hover{
    cursor: pointer;
}

.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 18px;
    float: right;
    margin: 0 auto;
}

.menu li{
    border-right: 1px solid rgb(255, 255, 255, 0.3);


}

.menu a{
    display: block!important;
    padding: 15px 10px!important;
    color: #fff!important;
    text-decoration: none!important;
    
}

.menu a:hover{
    background: rgb(0, 0, 0, 0.2);
}

header.contenedor{
    display: table;
     
}
.eco{
    width: 10%;
    margin-left:3%;
    float: left;
    padding: 6px;

}
header .template1{
    float: right;
    display: table;
    margin-right: 3%;
    padding: 0 10px;
    padding: 10px;
}


.botones{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0;

}
/*boton desplegable */
button.btn.btn-success.dropdown-toggle{
    padding: 5px;
}
a.dropdown-item:active{
    background-color: green;
    color: white;
}

/* ofertas destacadas */
.ofertas{
    width: 100%;


}
.ofertas p, .ofertas h3{
    text-align: center;
    color:green;
}


/* div sociales*/
.sociales{
    width: 100%;
    background: #eee;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
        
}

.social img{
    width: 30px;
    
    
}
.social{
    padding: 10px;
    display: inline-block;
    text-align: center;
    


}

/* Sección iconos */
#info{
    width: 100%;
}
.titulo{
    text-align: center;
    margin: 35px;
    color: green;
}
.seccionIconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.seccionIconos{
    margin-bottom: 30px;
}

.icono img{
    width: 20%;

}
.icono{
    text-align: center;
    color: green;
    width: 23%;
}

#registrarseUpdate{
    display: inline-block;
    margin: 10% 0;
    background-color: darkgreen;
    color: #eee;
}

/* pantallas pequeñas*/
@media (max-width: 768px){
    
    header label{
        display: block;
        float: left;
    }
    .menu{
        position: absolute;
        background: linear-gradient(rgb(87, 206, 51), rgb(154, 237, 158));
        border-bottom: 3px solid rgb(172, 119, 183, 0.7);
        margin-left: -60%;
        margin-top: 50px;
        z-index: 3;



        
    }
    .menu ul{
        flex-direction: column;




    }
    .menu li{
        border-bottom: 1px solid rgb(86, 165, 99, 0.3);
    }
    #btn-menu:checked ~ .menu{
        margin: 50px 0;
        transition: all 0.5s;
        
        
    }
    .eco{
        width:30%;
        padding-top: 10px;
        

    }
    .slider{
        position: relative;
    }
    .icono img{
        width: 13%;
    }
    .icono h4, .icono p{
        font-size: 13px;
    }
    .icono{
        width: 50%;
        margin: 5px 0;
    }
    .titulo, article, .cercanos h3, .ofertas h3{
        font-size: 15px;
    }
    

  
}

.emailMenu{

font-size: 15px;
border-radius: 5px;
color: black;

}
.miPanelMenu{
    font-size: 15px;
    border-radius: 5px;
}
.cerrarSesionMenu{
    
    font-size: 15px;
    color: green;
}

.ul-panel{
    list-style: none;
    margin: 30px auto;
    width: 300px;
    text-align: center;
}
.ul-panel li{
    padding: 15px;
    background-color: green;
    border-bottom: 1px solid rgb(255, 255, 255, 0.7);

}
.ul-panel li:hover, .ul-panel li:focus{
    background-color: black;
}
.ul-panel a{
    text-decoration: none;
    color: white;
}