.item:nth-child(6){
	background:green;
}

.body{
	display: grid;
	grid-template-rows:1fr 3fr 1fr;
	grid-template-columns: 4fr;
	grid-template-areas:
	"header header"
	"section aside"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body section{
	grid-area: section;
}
.body aside{
	grid-area: aside;
}
.body footer{
	grid-area: footer;
}