/* footer */
footer{
	background: black;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
footer a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	

}
footer a:active{
	color: green;
}
footer li{
	list-style: none;
}
footer ul{
	margin: 15px auto;
	display: inline-block;
	


}

@media(max-width: 768px){
	footer a{
		font-size: 9px;
	}
}

