.item:nth-child(1){
	background:green;
}

.body{
	display: grid;
	grid-template-rows:1fr 3fr 2fr 1fr;
	grid-template-columns: 4fr;
	grid-template-areas:
	"header header"
	"main aside"
	"section aside"
	"footer footer";
	margin: 0 3%;
}
.body header{
	grid-area: header;
}
.body main{
	grid-area: main;
}
.body aside{
	grid-area: aside;
}
.body section{
	grid-area: section;
}
.body footer{
	grid-area: footer;
}


@media(max-width: 768px){
	.body{
		display: grid;
		grid-template-rows: 2fr 2fr 2fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"main"
		"aside"
		"section"
		"footer";
		margin: 10px 0px;

	}

}
