/* 
Estilos de Secciones de index.html
*/

.item:nth-child(1){
	background:green;
}
/* Grilla */
.body{
	display: grid;
	grid-template-areas:
	"header header"
	"main main"
	"section article"
	"aside article"
	"cercanos org"
	"sociales sociales"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body main{
	grid-area: main;
}
.body aside{
	grid-area: aside;
}
.body section{
	grid-area: section;
}
.body footer{
	grid-area: footer;
}
.body article{
	grid-area: article;
}
.body .cercanos{
	grid-area: cercanos;
}
.body .org{
	grid-area: org;
}
.body .sociales{
	grid-area: sociales;
}

/* Slider */
.slider{
	width: 100%;
	margin:auto;
	overflow: hidden;
}
.slider img{
	width: 100%;
}

.slider ul{
	padding: 0;
	display: flex;
	width: 300%;
	animation: cambio 20s infinite alternate;
	-webkit-animation: cambio 20s infinite alternate;
	-moz-animation: cambio 20s infinite alternate;
	-o-animation: cambio 20s infinite alternate;
	-ms-animation: cambio 20s infinite alternate;

}

.slider li{
	list-style: none;
	width: 100%;

}
h2{
    position: absolute;
    z-index: 2;
    font-size: 30px;

}
.img{
	position: relative;
}

/* letras del slider */

.img h2 span{
	background: linear-gradient(rgb(243, 243, 243,0.7), rgb(239, 247, 237,0.5));
	color: green;
	display: inline;
	padding: 2%;
	border-bottom-right-radius: 35%;
	border-top-left-radius: 35%;
}
.arriba{
	top:15%;
	left: 20px;
	width: 64%;
}
.abajo{
	top: 75%;
	left:70%;
	width: 60%;
}

/* Transiciones del Slider */

@keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
}
@-webkit-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
	
}
@-moz-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
	
}
@-o-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
}
body{
		overflow-x: hidden;
	}

/* Sección iconos */
#info{
	width: 100%;
}
.titulo,article{
	text-align: center;
	margin: 35px;
	color: green;
}
#info .seccionIconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.seccionIconos{
	margin-bottom: 30px;
}

.icono img{
	width: 20%;

}
.icono{
	text-align: center;
	color: green;
	width: 23%;
}

/* aside */
aside{
	margin-top: 50px;
}
.aside{
	width: 100%;
	display: table;
}
.texto{
	display: table-cell;
	vertical-align: middle;
}
.texto h3{
	margin-left: 45%;
	color: green;
}
.saber{
	color: white;
	background: green;
	margin-left: 90%;
	margin-top: 30px;
	padding: 5px;
}
aside, .cercanos{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aside img{
	width: 70%;
	float: right;
}

/*  Puntos cercanos */
.cercanos{
	margin: 20px;
	width: 100%;


}
.cercanos h3, .org h3{
	color: green;
	text-align: center;
	margin: 20px auto;
}

.mapa{
	width:50%;
	margin-left: 10px;


}


.direccion li{
	line-height: 3; 
}
.mapa, .direccion{
	display: inline-block;
}


/* pantallas pequeñas */

@media(max-width: 799px){
	.body{
		display: grid;
		grid-template-areas:
		"header" 
		"main"
		"section"
		"article"
		"aside"
		"cercanos"
		"org"
		"sociales"
		"footer";
		margin:0px;

	}
	h2{
		font-size: 100%;
	}
	.abajo{
		left: 38%;
		width: 65%;
	}
	.arriba{
		top: 10px;
		width: 80%;
	}
	.icono img{
		width: 13%;
	}
	.icono h4, .icono p{
		font-size: 13px;
	}
	.icono{
		width: 50%;
		margin: 5px 0;
	}
	.titulo, article, .cercanos h3{
		margin-top: 20px;
		font-size: 14px;
	}
	aside{
		margin: 20px 0;
		

	}
	
	.texto h3{
		font-size: 15px;
	}
	.cercanos{
		width: 100%;
	}
	.mapa{
		width: 48%;
		margin-left: 15px;
		height: 45%;
		
	}
	.direccion{
		width: 40%;
		height: 100%;
	}
	.direccion li{
		line-height: 2;
		font-size: 10px;

	}
	

}
@media only screen and (min-width: 800px) and (max-width: 1366px){
	.abajo{
		top:75%;
		left: 65%;
		font-size: 25px; 
	}
	.arriba{
		top: 10%;
		font-size: 25px;
	}
	.eco{
		width: 13%;
	}


}