.item:nth-child(1){
	background:green;
}

.body{
	display: grid;
	grid-template-areas:
	"header header"
	"main main"
	"section aside"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body main{
	grid-area: main;
}
.body aside{
	grid-area: aside;
}
.body section{
	grid-area: section;
}
.body footer{
	grid-area: footer;
}

/* Slider */
.slider{
	width: 100%;
	margin:auto;
	overflow: hidden;
}
.slider img{
	width: 100%;
}

.slider ul{
	padding: 0;
	display: flex;
	width: 300%;
	animation: cambio 20s infinite alternate;
	-webkit-animation: cambio 20s infinite alternate;
	-moz-animation: cambio 20s infinite alternate;
	-o-animation: cambio 20s infinite alternate;
	-ms-animation: cambio 20s infinite alternate;

}

.slider li{
	list-style: none;
	width: 100%;

}
h2{
    position: absolute;
    z-index: 2;
    font-size: 30px;

}
.img{
	position: relative;
}

/* letras del slider */

.img h2 span{
	background: linear-gradient(rgb(243, 243, 243,0.7), rgb(239, 247, 237,0.5));
	color: green;
	display: inline;
	padding: 2%;
	border-bottom-right-radius: 35%;
	border-top-left-radius: 35%;
}
.arriba{
	top:15%;
	left:5%;
	width: 60%;
}
.abajo{
	top: 50%;
	left:70%;
	width: 60%;
}


@keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
}
@-webkit-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
	
}
@-moz-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
	
}
@-o-keyframes cambio{
	0%,20%{
		margin-left:0;

	}
	25%,60%{
		margin-left: -100%;
	}
	65%,100%{
		margin-left: -200%;
	}
	
	
}
body{
		overflow-x: hidden;
	}


/* pantallas pequeñas */

@media(max-width: 768px){
	.body{
		display: grid;
		grid-template-areas:
		"header" 
		"main"
		"aside"
		"section"
		"footer";
		margin:0px;

	}
	h2{
		font-size: 100%;
	}
	.abajo{
		left: 40%;
		top: 55%;
	}
	.arriba{
		top: 5%;
	}
	

}


