/*
- Color de background al estar posicionado en la página 
- Distribución de los elementos en la página con el sistema de grilla
*/

/* Color */
.item:nth-child(2){
	background:green;
}

/* Grilla */
.body{
	display: grid;
	grid-template-rows:1fr 3fr 1fr;
	grid-template-columns: 4fr;
	grid-template-areas:
	"header header"
	"section section"
	"sociales sociales"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body section{
	grid-area: section;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body .sociales{
	grid-area: sociales;
}
.body footer{
	grid-area: footer;
}


@media(max-width: 799px){
	.body{
	display: grid;
	grid-template-areas:
	"header"
	"section"
	"sociales"
	"footer";
}
}