/* Grilla */
.body{
	display: grid;
	grid-template-areas:
	"header header"
	"section aside"
	"section aside"
	"sociales sociales"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body section{
	grid-area: section;
}
.body aside{
	grid-area: aside;
}
.body .sociales{
	grid-area: sociales;
}
.body footer{
	grid-area: footer;
}

section, aside{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

@media(max-width: 799px){
	.body{
		display: grid;
		grid-template-areas:
		"header" 
		"main"
		"section"
		"aside"
		"sociales"
		"footer";
		margin:0px;

	}