body {
    font-family: Helvetica, Geneva, Tahoma, Arial, sans-serif;
}



#siguiente, #registrarse {
    background-color: green;
    color: white;
    width:  70%;
    margin-left: 15%;
    margin-bottom: 20px;
}


h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 80%;
}

a.botones{
    margin-left: 31%;
}

.input {
    margin: 10px 10px 10px 0;
    width: 500px;
    height: 20px;
}

#fecha_nac {
    width: 200px;
}

.back{
    height: 50px;
    width: 50px;
}

form{
    width: 50%;
    margin-left: 25%;
}

.margenHr{
   border-top: 0px solid rgba(0,0,0,.1) !important;
}

*{font-family: 'Titillium Web', sans-serif;
}

.headerSignupUsuario{
    height: 60px;
	margin-bottom: 20px;
}

.headerSignupEmpresa{
    height: 60px;
	margin-bottom: 20px;
}