body {
    font-family: Helvetica, Geneva, Tahoma, Arial, sans-serif;
}

.botones {
    position: relative;
    top:50%;
    margin: 10px -50%;
    width: 500px;
    height: 40px;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    font-size: 100%;
    display: block;
}

#siguiente, #registrarse {
    background-color: green;
    color: white;
}

#registrarse {
    margin-left: -19%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 80%;
}

a.botones{
    margin-left: 31%;
}

.input {
    margin: 10px 10px 10px 0;
    width: 500px;
    height: 20px;
}

#fecha_nac {
    width: 200px;
}

.back{
    height: 50px;
    width: 50px;
}

form{
    width: 50%;
    margin-left: 25%;
}

.margenHr{
   border-top: 0px solid rgba(0,0,0,.1) !important;
}