/*
- Distribución de los elementos en la página con el sistema de grilla
*/


/* Grilla */
.body{
	display: grid;
	grid-template-areas:
	"header header"
	"section article"
	"section article"
	"sociales sociales"
	"footer footer";
}
.body header{
	grid-area: header;
}
.body section{
	grid-area: section;
}
.body article{
	grid-area: article;
}
body .sociales{
	grid-area: sociales;
}
.body footer{
	grid-area: footer;
}

@media(max-width: 799px){
	.body{
		display: grid;
		grid-template-areas:
		"header" 
		"main"
		"section"
		"article"
		"sociales"
		"footer";
		margin:0px;

	}