
<ul class="primera">
	<li><a href="EcoBits">EcoBits</a></li>
	<li><a href="#">Sobre el programa de beneficios</a></li>
	<li><a href="#">Términos y condiciones</a></li>
</ul>
<ul class="segunda">
	<li><a href="#">Política de privacidad</a></li>
	<li><a href="#">Canjear EcoBits</a></li>
	<li><a href="centros">Ubicación de puntos de reciclaje</a></li>
</ul>
<ul class="tercera">
	<li><a href="#">¡Más reciclás, más ganás!</a></li>
	<li><a href="#">Redes sociales</a></li>
	<li><a href="contacto">Contacto</a></li>
</ul>
