<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>

    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/EcoBits.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
    {% include 'include/datosHead.html' %}
    <link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>


<script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/validaciones.js"></script>


    <!-->script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: "/update_usuario_getDATA",
          type: "GET",
          dataType: "json",
          success: function(result) {
            $(document.getElementById('_nombre').innerHTML = result.nombre);
            $(document.getElementById('_apellido').innerHTML = result.apellido);
            $(document.getElementById('_saldo').innerHTML = result.ecobit);
            },
          error: function(result) {
            $("#mensajeUpdate").append("No se pudo obtener datos");
          }
        });
      });
    </script>

    <!--SCRIT CON DATO OFERTA ELEGIDA->

    <script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: "/Oferta",
          type: "GET",
          dataType: "json",
          success: function(result) {
            $(document.getElementById('_titulo').innerHTML = result.titulo);
            $(document.getElementById('_descripcion').innerHTML = result.descripcion);
            $(document.getElementById('_costo').innerHTML = result.costo);
            $(document.getElementById('_imagen').innerHTML = result.imagen);

            },
          error: function(result) {
            $("#mensajeUpdate").append("No se pudo obtener datos");
          }
        });
      });
    </script-->


</head>
<body>

    <header class="headerEcoBit">
       {% include 'include/menu.html' %}
            
    </header>

    <h4 align= "center">  Funcionalidad en desarrollo </h4>

    <!--EN PROCESO DE DESARROLLO - PARA AGREGAR EN LA DEFENSA->
    <div id = "_nombre"></div>
    <div id = "_apellido"></div>
    <div id = "_saldo"></div>  
        
  

    <div id = "_titulo"></div>
    <div id = "_descripcion"></div>
    <div id = "_costo"></div> 
    <div id = "_imagen"></div--> 



        <article>
            {% include 'include/info.html' %}
        </article>

    </div>
    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>

</body>
</html>