<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/centros.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
</head>
<body>
<div class="body">
    <header>
       {% include 'menu.html' %}
            
    </header>
    <section></section>
    <aside></aside>

    <!-- Sociales template -->

{% include 'sociales.html' %}
    <!-- template footer -->
    <footer>
        {% include 'footer.html' %}
    </footer>

</div>
</body>
</html>