<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/centros.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
    {% include 'include/datosHead.html' %}
    <link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>

</head>
<body>
    <header class="headerCentros">
       {% include 'include/menu.html' %}
            
    </header>
    
    <div class="cercanos container">
            <div class="direccionesDiv">
                    <h3>Encontrá tu punto de reciclaje más cercano</h3>
                    <div class="direccion">
        
                        <ul>
                            <li>8 de octubre 1234 esq. Propios</li>
                            <li>Av. Italia 3456 esq. Centenario</li>
                            <li>18 de julio 5678 esq. Vázquez</li>
                            <li>Bulevar Artigas 3789 esq. Garibaldi</li>
                        </ul>
                    </div>
                </div>
        <iframe class="mapa" src="https://www.google.com/maps/d/embed?mid=1HUFY7ilWMDdqNPyI6JERJry8nZ5zKxRQ&hl=es-419" class="mapa"></iframe>
       
    </div>
    <!-- Sociales template -->
{% include 'include/info.html' %}
{% include 'include/sociales.html' %}
    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>

</body>
</html>