<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/contacto.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
{% include 'include/desplegable.html'%}
</head>
<body>
<div class="body">
    <header>
       {% include 'include/menu.html' %}
            
    </header>

    <section>


        <form action="#" method="post" class="formContacto">

        <div class="seccion">
            <label for="name">
                Nombre:
            </label>
            <input type="text" name="name" placeholder="Nombre" required>
        </div>

        <div class="seccion">
            <label for="email">
                Émail:
            </label>
            <input type="text" name="email" placeholder="Correo electrónico" required>
        </div>

        <div class="seccion">
            <label for="tel">
                Teléfono:
            </label>
            <input type="text" name="teléfono" placeholder="Teléfono de contacto" required>
        </div>

        <div class="seccion">
            <label for="mensaje">
                Mensaje:
            </label>
            <textarea name="mensaje" placeholder="Escriba su mensaje" required></textarea>
        </div>

        <div class="inferior">
            <input type="submit" value="Enviar" id="boton">
        </div>
                      
        </form>

</section>

    

    <aside>
        {% include 'include/destacadas.html' %}
    </aside>


    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>

</div>


</body>
</html>