<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/contacto.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
    {% include 'include/datosHead.html' %}
    <link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>
</head>
<body>

    <header class="headerContacto">
       {% include 'include/menu.html' %}
            
    </header>

        <section class="content-form">

        <h4 class="sub-title">CONTACTO</h2>

        <form action="" method="POST" id="registrar-form" >
          
            <div class="form-group width-12">
                 <div class="width-6">
                  <input type="text" placeholder="Nombre *" class="form-control" name="nombre" id="nombre" required="true"> 
                 </div>   
            </div>
             <div class="form-group width-12">
                 <div class="width-6">
                  <input type="text" placeholder="Teléfono *" class="form-control" name="telefono" id="telefono" required="true"> 
                 </div>   
             </div>
             <div class="form-group width-12">
                  <h5 class="sub-form">MENSAJE</h3>
                  <textarea cols="22" rows="10" class="form-control" required="true">
                    
                  </textarea>
             </div>
             <div class="form-group width-12">
                    <input type="submit" value="ENVIAR" class="form-control btn btn-principal" id="btn-enviar"/>
                     
             </div>
      
        </form>

    </section>
    

    <article>
        {% include 'include/info.html' %}
    </article>


    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>



</body>
</html>