<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/EcoBits.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>
</head>
<body>

    <header class="headerEcoBit">
       {% include 'include/menu.html' %}
            
    </header>
    <div class="container">

      <h1 align = center>EcoBits – Reciclando ganamos todos</h1>

<br>
<h2>¿Qué problema queremos resolver?</h2>

<p align =justify>Hoy en día, el hombre vive rodeado de objetos plásticos que en siglos anteriores no eran necesarios para la vida cotidiana.  Debido a que es un material sumamente práctico y económico, su utilización para fabricar envases o envolturas de sustancias y alimentos, ha aumentado considerablemente y son desechados sin control tras su utilización.</p>


<h2>Pero, ¿qué es EcoBits?</h2>

<p align =justify>Basados en la fortaleza de contar en Uruguay  con la única planta en el mundo capaz de reciclar el 100% de los envases plásticos PET generados en el mercado y ante la realidad de que menos del 30% de la producción retorna para su reciclaje, nace “EcoBits” un innovador sistema de beneficios y descuentos que promueve el reciclaje ciudadano de envases plásticos PET, contribuyendo así a la preservación del medio ambiente.    

El sistema es muy simple; los usuarios se registran creando una cuenta con unos pocos datos personales, en la cual podrán acumular créditos llamados “EcoBits” que obtendrán al depositar envases en los puntos de reciclaje del sistema. 

Los puntos de reciclaje estarán equipados con contenedores inteligentes (IoT) que previo a la carga de los envases solicitará la cédula del usuario y cargará en su cuenta los EcoBits generados.

Una vez acreditados a la cuenta, los EcoBits están listos para ser canjeados por productos de los comercios adheridos.
En la página se podrá obtener un listado de los beneficios que se podrán canjear, una vez seleccionado el producto o descuento deseado, el usuario confirmará la transacción, momento en el cual es sistema debitará el monto de EcoBits correspondiente  y se generará un código que deberá presentarse ante el comercio el cual corrobora la transacción para su canje.
 

El sistema también permitirá consultar la ubicación de los puntos de recolección más cercanos, para facilitar la accesibilidad.

Por otro lado, los comercios registrados mediante sus cuentas empresariales diferenciadas, podrán incorporar y retirar las publicaciones de productos o servicios que adhieran al sistema, así como poder consultar información de su interés referida al programa como datos para estadísticas de consumo.</p>


<h2>Más reciclas, más ganas! </h2>

<p align =justify>El programa contará además con un sistema de competencias entre usuarios, donde mensualmente se premiará a los 10 usuarios que más reciclen.

También existirá un sistema de logros  personales, donde los usuarios subirán de categoría de acuerdo a la cantidad de reciclaje generado obteniendo así acceso a promociones exclusivas.
</p>

    </div>
    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>


</body>
</html>