<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/faq.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
</head>
<body>
    <div class="contenedor"><a href="/"><img class="eco" src="static/imagenes/eco.png"></a></div>

    <header>
       <div class="template1">
            {% include 'botones.html' %}
        </div> 

        <input type = "checkbox" id = "btn-menu">
            <label for="btn-menu"><img src="static/imagenes/iconmenu.png"></label>
            <nav class = "menu">
            <ul>
                <li class="item"><a href = "/">Inicio</a></li>
                <li class="item"><a href = "ofertas">Ofertas</a></li>
                <li class="item"><a href = "centros">Centros EcoBits</a></li>
                <li class="item"><a href = "EcoBits">Sobre EcoBits</a></li>
                <li class="item"><a href = "contacto">Contacto</a></li>
                <li class="item"><a href ="FAQ">Preguntas frecuentes</a></li>
            </ul>
            </nav>
            
    </header>


</body>
</html>