<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/inicio.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
</head>

<body>
    <div class="body">
    <header>
        {% include 'menu.html' %}    
    </header>
    <main>

    <div class="slider">
        <ul>
            <li>
                <div class="img">
                    <img src="static/imagenes/tierra.png">
                    <h2 class="arriba"><span>Reciclando ganamos todos</span></h2>
                    <h2 class="abajo"><span>Únete a EcoBits</span></h2>
                </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/agua.png">
                <h2 class="arriba"><span>576.000 toneladas de plástico</span></h2>
                <h2 class="abajo"><span>terminan en el mar cada año</span></h2>
            </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/lamparita.png">
                <h2 class="arriba"><span>Un sistema de reciclaje</span></h2>
                <h2 class="abajo"><span>que nos beneficia a todos</span></h2>
            </div>
            </li>
        </ul>
    </div>      
    </main>
    <section>
    </section>
    <aside>
        </aside>
    <footer>
    </footer>
    </div>
</body>
</html>