<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/inicio.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
</head>

<body>
    <div class="body">
    <header>
        <!-- El menú principal -->
        {% include 'menu.html' %}    
    </header>
    
    <main>
    <div class="slider">
        <!-- El slider -->
        <ul>
            <li>
                <div class="img">
                    <img src="static/imagenes/tierra.png">
                    <h2 class="arriba"><span>Reciclando ganamos todos</span></h2>
                    <h2 class="abajo"><span>Únete a EcoBits, es gratis!</span></h2>
                </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/agua.png">
                <h2 class="arriba"><span>576.000 toneladas de plástico</span></h2>
                <h2 class="abajo"><span>terminan en el mar cada año</span></h2>
            </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/lamparita.png">
                <h2 class="arriba"><span>Un sistema de reciclaje</span></h2>
                <h2 class="abajo"><span>que nos beneficia a todos</span></h2>
            </div>
            </li>
        </ul>
    </div>      
    </main>

    <section id="info">
        <h3 class="titulo">Un programa que premia tu conciencia</h3>
        <!-- Sección con iconos -->
        <div class="seccionIconos">
            <div class="icono">
                <img src="static/imagenes/hojita.png">
                <h4>EcoBits</h4>
                <p>Ganá Ecobits</br>por devolver botellas</br>descartables</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/money.png">
                <h4>Beneficios</h4>
                <p>Usá tus Ecobits</br>para canjearlos por</br>productos y descuentos</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/recicla.png">
                <h4>Reciclá</h4>
                <p>Sumate a la</br>campaña para una</br>ciudad más limpia</p>
            </div>
            <div class="icono">
                <img src="static/imagenes/regalo.png">
                <h4>Ganá</h4>
                <p>Premios y descuentos</br>exclusivos cuanto</br>más los usás</p>
            </div>
        </div>
    </section>

    <!-- ofertas destacadas -->
    <article class="ofertas">
        <h3 class="h3ofertas">Ofertas destacadas</h3>
        <div class="destacadas">
            <p>Espacio para ofertas destacadas</p>
        </div>
    </article>

    <!-- saber más -->
    <aside>
        <div class="aside">
        <div class="texto">
            <h3>Cuanto más reciclás,</br>más ganás!</h3>
            <input type="submit" name="saber" value="Saber más" class="saber">
        </div>
            <img src="static/imagenes/reciclando.png">
        </div>
    </aside>

    <div class="cercanos">
            <h3>Encontrá tu punto de reciclaje más cercano</h3>
    </div>

    <div class="sociales">
        iconos redes sociales
    </div>

    <!-- template footer -->
    <footer>
        {% include 'footer.html' %}
    </footer>
    </div>
</body>
</html>