<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/inicio.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>

</head>

<body>
    <div class="body">
    <header>
        <!-- El menú principal -->
        {% include 'include/menu.html' %}    
    </header>
    
    <main>
    <div class="slider">
        <!-- El slider -->
        <ul>
            <li>
                <div class="img">
                    <img src="static/imagenes/tierra.png">
                    <h2 class="arriba"><span>Reciclando ganamos todos</span></h2>
                    <h2 class="abajo"><span>Únete a EcoBits, es gratis!</span></h2>
                </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/agua.png">
                <h2 class="arriba"><span>576.000 toneladas de plástico</span></h2>
                <h2 class="abajo"><span>terminan en el mar cada año</span></h2>
            </div>
            </li>
            <li>
                <div class="img">
                <img src="static/imagenes/lamparita.png">
                <h2 class="arriba"><span>Un sistema de reciclaje</span></h2>
                <h2 class="abajo"><span>que nos beneficia a todos</span></h2>
            </div>
            </li>
        </ul>
    </div>      
    </main>

    <section>

    {% include 'include/info.html' %}

    </section>

    <!-- ofertas destacadas -->
    <article>
        {% include 'include/destacadas.html' %}
    </article>

    <!-- saber más -->
    <aside>
        <div class="aside">
        <div class="texto">
            <h3>Cuanto más reciclás,</br>más ganás!</h3>
            <form action="FAQ">
            <input type="submit" name="saber" value="Saber más" class="saber">
            </form>
        </div>
            <img src="static/imagenes/reciclando.png">
        </div>
    </aside>

    <div class="cercanos">
            <h3>Encontrá tu punto de reciclaje más cercano</h3>
            <iframe src="https://www.google.com/maps/d/embed?mid=1HUFY7ilWMDdqNPyI6JERJry8nZ5zKxRQ&hl=es-419" class="mapa"></iframe>
            <div class="direccion">
                <ul>
                    <li>8 de octubre 1234 esq. Propios</li>
                    <li>Av. Italia 3456 esq. Centenario</li>
                    <li>18 de julio 5678 esq. Vázquez</li>
                    <li>Bulevar Artigas 3789 esq. Garibaldi</li>
                </ul>
            </div>
    </div>
    <div class="org">
        <h3>Apoyan:</h3>
    </div>
<!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>
    </div>
</body>
</html>