<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/ingresar.css">
    <link rel = "stylesheet" href = "static/css/footer.css">
<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
<style>
*{font-family: 'Titillium Web', sans-serif;
}
</style>
</head>
<body>
<div class="body">
    <header>
       {% include 'include/menu.html' %}
            
    </header>

    <section class="content-form">

        <h4 class="sub-title">Accede a tu cuenta</h2>

        <form action="/procesaLogin" method="post" id="ingresar-form">

        <div class="form-group width-12">
                 <div class="width-12">
                <input id="email" type="text" placeholder="Correo electrónico" name="email" required="true" class="form-control">
            </div>
        </div>

        <div class="form-group width-12">
                 <div class="width-12">
                <input id="password" type="password" placeholder="Contraseña" name="password" required="true" class="form-control">
            </div>
        </div>

        <div id="ul-registro">
              <div class="form-group width-12"> 
                <ul>
                    <h6>Registrarme</h6> 
                    <li><a href="/signup_usuario">Usuario</a></li>
                    <li><a href="/signup_empresa">Empresa</a></li>
                </ul>
            

            <div id="boton-ingresar">
                <input id="ingresar" type="submit" value="Ingresar" name="ingresar">
            
            </div>
        <div class="form-group width-12">
            <h5>{{mensaje}}</h5>
        </dir>
        </form>
    </section>

    <article>
        {% include 'include/info.html' %}
    </article>
    
   

    <!-- Sociales template -->

{% include 'include/sociales.html' %}
    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>

</div>
</body>
</html>