<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>EcoBits</title>
    <link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="stylesheet" href="static/css/ofertas.css" />
    <link rel="stylesheet" href="static/css/footer.css" />
    {% include 'include/datosHead.html' %}
    <link rel="icon" type="image/png" href="static/imagenes/icon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web"
      rel="stylesheet"
    />
    {% include 'include/desplegable.html'%}
    <script>
      function Canjear(id) {
        var idEnvioOferta = { idOferta: id };
        $.ajax({
          url: "/Canjear",
          type: "POST",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(idEnvioOferta),
          success: function(result) {
            var res = result["resultado"];
            let contenido;
            if (res.length && typeof res !== "string") {
              contenido = res.join(" ");
            } else {
              contenido = res;
            }
            $("#contenido").empty();
            $("#contenido").append(contenido);
            $("#exampleModalCenter").modal({ show: true });
          },

          error: function() {
            alert("Error en el servidor, por favor reiniciar el mismo");
          }
        });
      }
    </script>

    <!-------------------------->
  </head>
  <body>
    <header class="headerOfertas">
      {% include 'include/menu.html' %}
    </header>
    <div class="container">
      <div class="card-deck">
        {% for oferta in ofertas %}

        <div class="card">
          <img
            class="card-img-top cardOferta"
            src="{{ oferta[3] }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ oferta[2] }}</h5>
            <p class="card-text">
              <span class="subTitle">Detalle:</span> {{ oferta[3] }}
            </p>
            <p class="card-text">
              <span class="subTitle">Cantidad Ecobit:</span> {{ oferta[4] }}
            </p>
          </div>
          {% if session['email'] and session['email'] != ''%}
          <a
            class="btn btn-primary"
            href="javascript:Canjear({{ oferta[0] }})"
            ;
            >Canjear</a
          >
          <!--type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"-->
          {% else %}
          <a class="btn btn-primary" href="/ingresar">Canjear</a>
          {% endif %}
        </div>

        {% endfor %}
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resultadoCanjeModal">
              Resultado de Canje
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="contenidoModal"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--MODAL DOS-->
    <div
      class="modal fade"
      id="resultado"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Confirmar Canje
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="contenido">
            ...........................
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sociales template -->

    {% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
      {% include 'include/footer.html' %}
    </footer>
  </body>
</html>
