<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/ofertas.css">
    <link rel = "stylesheet" href = "static/css/footer.css">

<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
</head>
<body>
<div class="body">
    <header>
       {% include 'include/menu.html' %}
      
    </header>
    <section>

        <h1>OFERTAS!!</h1> 
            
               
                <div class="container-fluid" style="display: flex">
                        {% for oferta in ofertas %}
                       
                        <div  style="width: 30%; margin: 20px; border: indigo solid 2px" >
                                <img  src="/static/imagenes/playa.png" alt="Card image cap">
                                <div>
                                  <h5>titulo: {{oferta[2]}}</h5>
                                  <p>descripcion: {{oferta[3]}}</p>
                                  <p>Cantidad Ecobit: {{oferta[4]}}</p>
                                </div>
                                   <a href="#" >Ampliar o canjear, definir</a>
                               
                        </div>
                        {% endfor %}
                </div>
    </section>
    <article></article>
    <aside></aside>

    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>

</div>
</body>
</html>