<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>EcoBits</title>
    <link rel = "stylesheet" href = "static/css/estilos.css">
    <link rel = "stylesheet" href = "static/css/ofertas.css">
    <link rel = "stylesheet" href = "static/css/footer.css">

<meta name = "viewport" content = "width-device-width, user-scalable = no, initial-scale = 1, maximum-scale = 1, minimum-scale = 1">
<link rel="icon" type="image/png" href="static/imagenes/icon.png">
{% include 'include/desplegable.html'%}
</head>
<body>



    <header class="headerOfertas">
       {% include 'include/menu.html' %}
      
    </header>
   
           
   

        
                          
                <div class="container" >
                        
                                {% include 'include/destacadas.html' %}
                        
                        <div class="card-deck">
                        {% for oferta in ofertas %}
                       
                            <div  class="card" style="width: 18rem;" >
                                    <img   class="card-img-top" src="/static/imagenes/{{oferta[6]}}" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">{{oferta[2]}}</h5>
                                      <p class="card-text"><span class="subTitle">Detalle:</span> {{oferta[3]}}</p>
                                      <p class="card-text"><span class="subTitle">Cantidad Ecobit:</span> {{oferta[4]}}</p>
                                    </div>
                                       <a class="btn btn-primary" href="#" >Canjear</a>
                                
                            </div>
                       
                        {% endfor %}
                    </div>
                </div>
 
   

    <!-- Sociales template -->

{% include 'include/sociales.html' %}

    <!-- template footer -->
    <footer>
        {% include 'include/footer.html' %}
    </footer>


</body>
</html>