<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <title>EcoBits - Regístrate, ¡Es gratis!</title>
        <link rel="stylesheet" href="/static/css/signup.css">
    </head>
    <body>
        <header>
            <h1>Registro NO ESTA HECHO; ESTA COPIADO DE USUARIO</h1>
        </header>
        <form>
            Nombre:<br>
            <input class="input" name="nombre" type="text" required="required" placeholder="Escribe tu nombre"/><br>
            Apellido:<br>
            <input class="input" name="apellido" type="text" required="required" placeholder="Escribe tu apellido" /><br>
            Documento: <input name="tipo_doc" type="radio">CI</input> <input name="tipo_doc" type="radio">Pasaporte</input><br>
            <input class="input" name="nro_documento" type="text" required="required" placeholder="Escribe tu número de documento"></input><br>
            Fecha de nacimiento: <input id="fecha_nac" class="input" name="fecha_nac" type="date" required="required"></input><br>
            Teléfono / Celular:<br>
            <input class="input" name="tel" type="tel" required="required" placeholder="Escribe tu número de teléfono / celular"></input><br>
            Sexo: <input name="sexo" type="radio">Femenino</input> <input name="sexo" type="radio">Masculino</input> <input name="sexo" type="radio">Otro</input><br><br>
            Correo electrónico:<br>
            <input class="input" name="e-mail" type="email" required="required" placeholder="Escribe tu dirección de correo electrónico"/><br>
            Repetir correo electrónico:<br>
            <input class="input" name="repetir_e-mail" type="email" required="required" placeholder="Repite tu dirección de correo electrónico"/><br>
            Contraseña:<br>
            <input class="input" name="contraseña" type="password" required="required" placeholder="Escribe una contraseña"/><br>
            Repetir contraseña:<br>
            <input class="input" name="repetir_contraseña" type="password" required="required" placeholder="Repite tu contraseña"/><br>
            
        </form>
        <input id="registrarse" name="registrarse" type="submit" class="botones" value="Registrarse"/>
        <p>Al registrarme, acepto la <a href="politica_de_privacidad.html">Política de privacidad</a> y los <br>
            <a href="terminos_del_servicio.html">Términos del servicio.</a></p><br>
        <p>O bien, regístrese con <a href="sesion_google.html">Google</a> o <a href="sesion_facebook.html">Facebook.</a></p>
        <p>¿Ya estás registrado? Haz clic <a href="login.html">aquí.</a></p>
    </body>
</html>