<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>EcoBits</title>

    <!--link rel = "stylesheet" href = "static/css/ofertas.css"-->
    <link rel = "stylesheet" href = "static/css/update_usuario.css">
  
    <link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="stylesheet" href="static/css/footer.css" />
    {% include 'include/datosHead.html' %}
    <link rel="icon" type="image/png" href="static/imagenes/icon.png" />
    <!--link rel="stylesheet" href="/static/css/signup.css" /-->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% include 'include/desplegable.html'%}
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/js/validaciones.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: "/update_usuario_getDATA",
          type: "GET",
          dataType: "json",
          success: function(result) {
            $("#nombreUpdate").val(result.nombre);
            $("#apellidoUpdate").val(result.apellido);
            $("input[name=tipo_doc][value=" + result.tipoDoc + "]").attr(
              "checked",
              "checked"
            );
            $("#nro_documentoUpdate").val(result.documento);
            $("#fecha_nacUpdate").val(result.fechaDeNac);
            $("#telUpdate").val(result.celular);
            $("input[name=sexo][value=" + result.sexo + "]").attr(
              "checked",
              "checked"
            );
            $("#emailUpdate").val(result.email);
          },
          error: function(result) {
            $("#mensajeUpdate").append("No se pudo obtener datos");
          }
        });
      });
    </script>
  </head>
  <body>
   
     
    <header class="headerUpdateUsuario">
        {% include 'include/menu.html' %}
       
     </header>
     <div class="container col-xl-6 col-xs-12" >
          <h1>Mi perfil</h1>
          <h3 id="mensajeUpdate"></h3>
          <h3>{{ session["mensaje"] }}</h3>
        <form
          action="update_usuario"
          method="POST"
          onsubmit="return Validate(this)"
        >
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre:</label>
            <input class="form-control"
            id="nombreUpdate"
            name="nombre"
            type="text"
            required="required"
            placeholder="Escribe tu nombre"
          />
        </div> 
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input
            class="form-control"
            id="apellidoUpdate"
            name="apellido"
            type="text"
            required="required"
            placeholder="Escribe tu apellido"
          />
        </div>
        
        <label >Tipo de documento:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="tipo_doc" value="C" id="radio1" checked required="required">
            <label class="form-check-label" for="radio1">
                Documento
            </label>
        </div>
       
  
        <div class="form-check">
            <input class="form-check-input" type="radio" name="tipo_doc" value="P" id="radio2" >
            <label class="form-check-label" for="radio2">
                Pasaporte
            </label>
        </div>
        <hr class="margenHr">

        <div class="form-group">
            <label for="nro_documento">Documento:</label>
            <input
            class="form-control"
            id="nro_documentoUpdate"
            name="nro_documento"
            type="text"
            required="required"
            placeholder="Escribe tu número de documento"
          />
        </div>


        <div class="form-group">
        <label for="fecha_nac">Fecha de nacimiento:</label>
        <input
          class="form-control"
            id="fecha_nacUpdate"
            name="fecha_nac"
            type="date"
            required="required"
          />
        </div>

        <div class="form-group">
            <label for="tel">Teléfono / Celular:</label>
            <input
            class="form-control"
            id="telUpdate"
            name="tel"
            type="tel"
            required="required"
            placeholder="Escribe tu número de teléfono / celular"
          />

          <label >Sexo:</label>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" value="F" id="radioF" checked required="required">
          <label class="form-check-label" for="radioF">
              Femenino
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" value="M" id="radioM" >
          <label class="form-check-label" for="radioM">
              Masculino
          </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="sexo" value="O" id="radioO" >
          <label class="form-check-label" for="radioO">
              Otro
          </label>
      </div>
      <hr class="margenHr">

         <div class="form-group">
        <label for="email">E-mail:</label>
        <input
          class="form-control"
            id="emailUpdate"
            name="email"
            type="email"
            id="email"
            required
            placeholder="Escribe tu dirección de correo electrónico"
          />
          </div>

         <div class="form-group">
        <label for="repetir_email">Repetir E-mail:</label>
        <input
          class="form-control"
            onblur="console.log(iguales(this.value, document.getElementById('email').value ))"
            id="repetirEmailUpdate"
            name="repetir_email"
            type="email"
            required="required"
            placeholder="Repite tu dirección de correo electrónico"
          />
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input
            class="form-control"
            id="passwordUpdate"
            name="password"
            type="password"
            required="required"
            placeholder="Escribe una contraseña"
          />
          </div>

        <div class="form-group">
        <label for="repetir_password">Repetir contraseña:</label>
        <input
          class="form-control"
            id="repetirPasswordUpdate"
            name="repetir_password"
            type="password"
            required="required"
            placeholder="Repite tu contraseña"
          />
          </div>


          <input
            id="registrarseUpdate"
            name="registrarse"
            type="submit"
            class="botones btn"
            value="Actualizar"
          />
        </form>
      </div>
      <!-- Sociales template -->

      {% include 'include/sociales.html' %}
      <!-- template footer -->
      <footer>
        {% include 'include/footer.html' %}
      </footer>
   {% include 'include/enlacesJavascript.html' %}
  </body>
</html>
